.homepage {
  margin-top: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.homepage__aside {
  width: 48%;
}

.homepage__logo {
  width: 100%;
}

.homepage__form {
  width: 48%;
}

@media screen and (max-width: 1000px) {
  .homepage__form {
    width: 100%;
  }
  .homepage__aside {
    display: none;
  }
}
